body {
  /*text-align: center;*/
  font-size: 16px;
  color: #2d3339;
  background: #edeff0;
  font-family: 'Varela Round';
  text-align: center
}

a {
  color: #3f8abf;
  text-decoration: none;
}

a:hover {
  color: #65a1cc;
}

/*input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkbox-empty.svg) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + span {
    background:url(checkbox-filled.svg) left top no-repeat;
}*/