<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela+Round">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="todoListApp">

  <div class="container-fluid list" ng-controller="mainCtrl">
    <div class="row">

      <h1>My TODOs</h1>
        <div class="item" ng-repeat="todo in todos" ng-class="{'editing-item': editing, 'edited': todo.edited}">
          <input type="checkbox" ng-model="todo.completed"/>
          <label ng-hide="editing" ng-click='helloWorld()'>{{ todo.name }}</label>
          <input class="editing-label" type="text" ng-model="todo.name" ng-show="editing" ng-blur="editing = false;" ng-change="todo.edited = true"/>

          <div class="actions">
            <button type="button" class="btn btn-primary" ng-click="editing = !editing">edit</button>
            <button type="button" class="btn btn-success" ng-click='helloWorld()'>save</button>
            <button type="button" class="btn btn-danger">delete</button>
          </div>
        </div>
      {{todos}}
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <!-- <script type="text/javascript" src="scripts/hello-world.js"></script> -->
</body>
</html>